body {
    background: #201650;
    font-weight: 500;
    text-align: center;
    
}

h1 {
    color: rgb(255, 255, 255);
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }